@charset "utf-8";
/* CSS Document */
/*******************nav*********************/
nav ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
	overflow: hidden;
  background-color: #EB52C0;

  
 	
}

nav li {
  display: inline-block;
	overflow:hidden;
	border-right:1px solid #000000;
}

nav li a:link {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
	transition-duration: 0.3s;
}
nav li a:visited{
	color:white;
}

nav li a:hover {
  background-color: #97098D;
}
nav{
	display:block;
	text-align: center;
	font-size:20px;
}

.sticky{
	position: -webkit-sticky;
	position: sticky;
	top:0;
}

/*****************header*****************/
header{
	
	text-align: center;
	padding: 35px 0px;
	background-color: #0BC8BF;
	padding-left: 500px;
	padding-right: 500px;
	border-style: groove;
	border-width: 10px;
	border-color: #EB52C0;
}


h1 {
	background-color: #555252;
	color: white;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	border-style: double;
	border-color: #C8309D;
	border-width: 10px;
	padding: 10px;
	
}
/**********background**********/
body {
	background-color: #F3F3F3;
	margin: 50px;

}	

section {
	overflow:hidden;
	margin:0 auto;
}
/*************************about***********************/
#About{
	background-color: #98F2E4;
	border-style: double;
	border-width:15px;
	border-color: #1DC3BD
}
p {
 font-family: 'Kdam Thmor Pro', sans-serif;
	margin: 50px;
	text-align: center;
	
}

#WideMikuGif {
	margin-top:50px;
	margin-bottom: 50px;
}
/***************************quotes**********************/

h2 {
	font-family: 'Orbitron', sans-serif;
	padding-top: 50px;
	text-align: center;
	text-decoration: underline;
}
#Quotes {
	background-color: #FCC6E6;
	border-style: double;
	border-width:15px;
	border-color: #EB52C0
}
blockquote {
	font-family: 'Kdam Thmor Pro', sans-serif;
	margin: 50px;
	text-align: center;
	padding-bottom: 30px;
}

/*******************characteristics****************/
#Characteristics{
	text-align: center;
	background-color: #98F2EF;
	border-style: double;
	border-width:15px;
	border-color: #1DC3BD
}
ol{
	font-family: 'Kdam Thmor Pro', sans-serif;
	text-align: center;
	padding-left: 850px;
	padding-right: 850px;
}

#gif1{
	margin-top:50px;
	margin-bottom: 50px;
}

/******************friends**************************/
#Friends{
	background-color: #FCC6E6;
	border-style: double;
	border-width:15px;
	border-color: #EB52C0;
	
}

#friendlist {
	font-family: 'Kdam Thmor Pro', sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}



section div{
	width:33%;
	float:left;
	box-sizing:border-box;
	margin: 50px 0px 50px 0px;
}

section img{
	display:block;
	margin-left: auto;
	margin-right:auto;	
}
section div img{
	width: 80%;
}

/**********************footer*********************/
footer {
	
	margin:0px;
	padding: 70px 10px 70px 10px;
	background-color: #494646;
	text-align: center;
	
}
a {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	margin:10px;
	color:#C8309D;
}

a:link{
	color:#C8309D;
	text-decoration: none
}

a:hover{
	color:#EC9AD5;
}

/*********************end**************************/